<!DOCTYPE html>
<html lang="{{ .Language.LanguageCode }}"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Params.title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="manifest" href="{{ "manifest.json" | relURL }}">
  <link rel="shortcut icon" href="{{ "favicon/favicon.ico" | relURL }}">
  <link rel="icon" href="{{ "favicon/favicon-96x96.png" | relURL }}" sizes="96x96" type="image/png">
  <link rel="icon" href="{{ "favicon/favicon.svg" | relURL }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ "favicon/apple-touch-icon.png" | relURL }}" sizes="180x180">
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.title }}">
  <link rel="stylesheet" href="{{ "/css/styles.css" | relURL }}">
</head><body>
  {{- block "main" . }}{{ end -}}
</body></html>

